/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox,#cboxOverlay,#cboxWrapper {
  position:absolute;
  top:0;
  left:0;
  z-index:9999;
  overflow:hidden;
}

#cboxWrapper {
  max-width:none;
}

#cboxOverlay {
  position:fixed;
  width:100%;
  height:100%;
}

#cboxMiddleLeft,#cboxBottomLeft {
  clear:left;
}

#cboxContent {
  position:relative;
}

#cboxLoadedContent {
  overflow:auto;
  -webkit-overflow-scrolling:touch;
}

#cboxTitle {
  margin:0;
}

#cboxLoadingOverlay,#cboxLoadingGraphic {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow {
  cursor:pointer;
}

.cboxPhoto {
  float:left;
  margin:auto;
  border:0;
  display:block;
  max-width:none;
  -ms-interpolation-mode:bicubic;
}

.cboxIframe {
  width:100%;
  height:100%;
  display:block;
  border:0;
}

#colorbox,#cboxContent,#cboxLoadedContent {
  box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
}

#cboxOverlay {
  background:#000;
}

#colorbox {
  outline:0;
}

#cboxContent {
  margin-top:20px;
  background:#000;
}

.cboxIframe {
  background:#fff;
}

#cboxError {
  padding:50px;
  border:1px solid #ccc;
}

#cboxLoadedContent {
  background:#000;
}

#cboxTitle {
  position:absolute;
  top:-20px;
  left:0;
  color:#ccc;
  display:none;
}

#cboxCurrent {
  display:none;
}

#cboxLoadingGraphic {
  background:url(../img/loading.gif) no-repeat center center;
}

#cboxPrevious,#cboxNext,#cboxSlideshow {
  border:0;
  padding:0;
  margin:0;
  overflow:visible;
  width:auto;
  background:0 0;
}

#cboxPrevious:active,#cboxNext:active,#cboxSlideshow:active,#cboxClose:active {
  outline:0;
}

#cboxSlideshow {
  position:absolute;
  top:-20px;
  right:90px;
  color:#fff;
}

#cboxClose {
  background:#fff;
  position:absolute;
  right:0;
  top:0;
  display:block;
  cursor:pointer;
  z-index:999;
  height:26px;
  width:26px;
  border:0;
}

#cboxClose:after,#cboxClose:before {
  width:2px;
  height:15px;
  background:#333;
  color:#fff;
  content:'';
  position:absolute;
  top:5px;
  left:50%;
  margin-left:-1px;
}

#cboxClose:after {
  -webkit-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}

#cboxClose:before {
  -webkit-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

#cboxPrevious,#cboxNext {
  position:absolute;
  top:50%;
  z-index:1;
  height:31px;
  line-height:0;
  font-size:25px;
  margin-top:-15px;
  padding:0 15px;
  background:#fff;
  color:#000;
  outline-color:transparent;
}

#cboxPrevious {
  left:0;
}

#cboxNext {
  right:0;
}
