

body{

    padding-bottom: 0;

}

p{font-size: 16px;}

.clear{

    clear: both;

}



.logo-container{

    /* margin-left: 150px;*/

}



#main-content{margin-top: 20px; margin-bottom: 50px;}

#main-content a {

}
#main-content a:hover {

}

.information-page a{
    color: #fcf078;
}
.information-page a:hover{
    color: #f8d358;
}


.padding-wrapper{padding-top: 72px;}

.promo-box {

    //background: none repeat scroll 0 0 #F3F3F3;

    background-color: rgba(255,255,255, 0.7);

    color:#00703C;

   	margin: 10px 0 0 30px;

    padding: 10px;

    position: absolute;

    text-align: center;

    top: 120px;

    width: 260px;

}

.promo-box .title0 {

    font-size: 20px;

    font-weight: bold;

}



.footer-container{

    position: relative;



}



.footer-bar {

    bottom: 0px;

    padding: 15px;

    position: absolute;

    /*width: 100%;*/

    right: 0;

    padding-left: 70px;

    line-height: 15px;

    text-align: right;

    border-top-left-radius: 88px;

    /*    background-color: rgba(255, 255, 255, 0.8);*/



    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 20%, rgba(255,255,255,0.8) 100%); /* FF3.6+ */

    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.8))); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 20%,rgba(255,255,255,0.8) 100%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 20%,rgba(255,255,255,0.8) 100%); /* Opera 11.10+ */

    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 20%,rgba(255,255,255,0.8) 100%); /* IE10+ */

    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 20%,rgba(255,255,255,0.8) 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccffffff',GradientType=1 ); /* IE6-9 */



}



.social-share{

    bottom: 50px;

    position: absolute;

    right: 0;

    margin-right: 10px;

}



.social-share ul li a:hover {

    background: #00703C;

}



.white-bg {

    background-color: rgba(255, 255, 255, 0.9);

    padding: 10px 20px;

    margin-bottom: 40px;

}





#menu_sidebar .box {padding: 5px; margin-bottom: 19px;};



.widget-reservation a{color:#00703C;}



.navbar .main-nav > li .cart {



}





.navbar .main-nav > li .cart .cart-count{padding-top: 10px;font-size:20px;}






/* menu item detail */



.container-detail{ background-color: rgba(0, 112, 60, 0.6);margin-bottom: 50px; padding: 10px;}

.container-detail1 .box-grey{background-color: #0C343D; color:#FFF;padding: 15px 10px; margin-bottom: 5px;}

.container-detail .item-title{background-color: #009E0F;padding: 5px;}

.container-detail .col-md-8 .box{ color:#FFF; padding: 5px 10px; margin-bottom: 10px;}

.container-detail .col-md-4 .box{ color:#FFF; padding: 5px 10px; margin-bottom: 10px;}

.container-detail .cart-table{background-color: #FFF; color:#000;  margin-right: 5px;}

.container-detail  table tr td a.btn{padding: 10px;display: block;  margin: 5px 10px;}

.container-detail  table tr td a.btn.btn-red{background-color: #CC0000; color:#FFF;  }

.container-detail  table tr td a.btn.btn-green{background-color: #274E13; color:#FFF;  }

.container-detail  table tr td a.btn.btn-blue{background-color:#085394; color:#FFF;  }

.container-detail  table tr td a.btn.btn-mairoon{background-color:#351C75; color:#FFF;  }

.container-detail  table tr td .cart-link { color: #00703c; font-size: 11px;}

.container-detail  table hr{margin-bottom: 20px; }

.container-detail2 .col-md-3 .box{ background-color: rgba(255, 255, 255, 0.9); color:#000; padding: 5px 10px; margin-bottom: 10px;  min-height: 300px;}

.container-detail2 .col-md-3 .box strong{margin-bottom: 10px; border-bottom:1px solid }

.container-detail2 .bottom-navigation2{color:#FFF; padding: 10px; }

.container-detail2 .bottom-navigation{color:#FFF; min-height: 50px;padding-top: 10px;margin-bottom: 10px;}

.container-detail2 .bottom-navigation  .col-md-4 .previous-btn{ text-align: left;}

.container-detail2 .bottom-navigation  .col-md-4 .cancel-btn{ text-align: center;}

.container-detail2 .bottom-navigation  .col-md-4 .next-btn{ text-align: right;}



/*.container-detail  .bottom-navigation .col-xs-12 .previous-btn{

    text-align: center; margin-bottom: 10px;

}



.container-detail .bottom-navigation .col-xs-12  .next-btn{

    text-align: center; margin-bottom: 10px;

}*/



/* user login form */



ul.user-login{background-color: rgba(255, 255, 255, 0.9);}

ul.user-login label{color:#888;}

ul.user-login li div p a{color:#428bca;font-size: 14px; }



ul.navbar-nav.navbar-right .badge{

    background-color: #00703c;

    color: white;

    padding: 3px 6px;

    position: relative;

    right: 4px;

    top: -13px;

}





ul#menu-mobile li.cart .badge{  background-color: #00703C;

                                color: white;

                                padding: 3px 6px;

                                position: relative;

                                right: 4px;

                                top: -10px;}

/* about  */









/* out containers */



#our-containers{margin-bottom: 50px;}

#our-containers .title{font-weight: bold; font-size: 24px; color: #003F22; background-color: #FFF;margin-bottom: 20px; margin-right: 10px;   border-radius: 6px;box-shadow: 3px 6px 4px 0 #44291B; text-align: center; }

#our-containers .title h2{font-size: 35px;text-shadow: 0px 3px 3px #003F22; padding:10px;width:auto; text-align: center; }

#our-containers .box{background-color: #003F22;color:#BDCCC5; padding: 10px; margin-bottom: 20px;}

#our-containers .box p{text-align: justify;}

#our-containers img{border: 10px  solid #FFF;}

#our-containers .features-image .col-md-6{padding-left: 0px; }



/* the food */



/*#the-food{margin-bottom: 50px;}

#the-food .title{font-weight: bold; font-size: 24px; color: #003F22; background-color: #FFF;margin-bottom: 20px; margin-right: 10px;   border-radius: 6px;box-shadow: 3px 6px 4px 0 #44291B; text-align: center; }

#the-food .title h2{font-size: 35px;text-shadow: 0px 3px 3px #003F22; padding:10px;width:auto; text-align: center; }

#the-food .box{background-color: #003F22;color:#BDCCC5; padding: 10px; margin-bottom: 20px;}

#the-food .box p{text-align: justify;}

#the-food img{border: 10px  solid #FFF;}

#the-food .features-image .col-md-6{padding-left: 0px; }*/





/* the concept */











#main-content .title{font-weight: bold; font-size: 24px; color: #003F22; background-color: #FFF;margin-bottom: 20px; margin-right: 10px;   border-radius: 6px;box-shadow: 2px 2px 7px 0 #44291B; text-align: center; }

#main-content .title h2{font-size: 35px;text-shadow: 0px 1px 1px #003F22; padding:10px;width:auto; text-align: center; }



#main-content .box{

    background: #003f22;

    color:#BDCCC5;

    padding: 10px;

    margin-bottom: 20px;

}

#main-content .information-page{

    background: #003f22; /* Old browsers */

    background: -moz-linear-gradient(top,  #003f22 0%, #00722f 49%, #003f22 100%); /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003f22), color-stop(49%,#00722f), color-stop(100%,#003f22)); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top,  #003f22 0%,#00722f 49%,#003f22 100%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top,  #003f22 0%,#00722f 49%,#003f22 100%); /* Opera 11.10+ */

    background: -ms-linear-gradient(top,  #003f22 0%,#00722f 49%,#003f22 100%); /* IE10+ */

    background: linear-gradient(to bottom,  #003f22 0%,#00722f 49%,#003f22 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f22', endColorstr='#003f22',GradientType=0 ); /* IE6-9 */

    color:#BDCCC5;

    padding: 10px;

    margin-bottom: 20px;

}

#main-content .box p{text-align: justify;}

#main-content img{

    border: 5px  solid #FFF;

}



#main-content .features-image .col-md-6{padding-right: 0px;  float: right;}





#main-content .the-chef img{border: 10px  solid #543019;}

#main-content .location-box-white{background-color: rgba(255, 255, 255, 0.9); color:#5F5F5F; margin-bottom: 10px;min-height: 200px}





/*locations*/



#location_page .location-text{padding: 10px;}

#location_page img{border: 0px; margin: 5px;}

#location_page .location-text .store_title strong{font-size: 16px; color: #003f22;}

#location_page .location-text .detail{/*color: #5F5F5F;*/padding-top:10px;}

#location_page .location-text .detail i{font-size: 14px;}

#location_page .location-highlight {background-color: #00703C; color:#bdccc5; margin-bottom: 10px;}

#location_page .location-highlight .store_title strong{color:#bdccc5;}

#location_page .location-text .field-name-field-location-geofield{display: none;}

#location_page .location-image{padding-left:10px;}

#location_page .location-image p{font-size: 14px;}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {

    background-color: #00a056;

    border-color: #00a056;

}

.pagination > li > a, .pagination > li > span{ border: 1px solid #00a056;}



.pagination > li > a{color:#00a056;}

.pagination > li > a:hover,.pagination > li > a:active,.pagination > li > a:focus{	background-color: #00a056;color:#FFF; border-color: #00a056;}

.the_concept p{text-align: justify;font-size: 17px;}

.the_concept ul{padding-left: 20px;}

.the_concept ul li{font-size: 16px;}

.the_concept table{background: #FFF; color: #00652C;}
.the_concept table a{
    color: #00703C;
}

.the_concept .table-bordered > thead > tr > th, .the_concept .table-bordered > tbody > tr > th, .the_concept .table-bordered > tfoot > tr > th, .the_concept .table-bordered > thead > tr > td, .the_concept .table-bordered > tbody > tr > td, .the_concept .table-bordered > tfoot > tr > td {border:5px solid #00652C !important;}

.the_concept table tr th{text-align: center;}

.the_concept table tr td ul li{margin-bottom: 10px;}

.the_concept table tr td ul li span.glyphicon-minus{

    font-size: 9px;

    left: -20px;

    position: absolute;

    top: 5px;

}



.badge-success{background-color: #003f22;

               background-image: none;}

.label-green {

    background-color: #00703c;

    color:#bdccc5;

}



#video article .video_box {

    background-color: rgba(255, 255, 255, 0.9);

    min-height: 170px;

}

#video .video_box {

    border-bottom: 1px solid #00703c;

    margin-bottom: 10px;

    padding: 10px;

    width: 100%;

}

#faq #topics{

    padding-top: 50px;

}

#faq #topics h3{font-size: 30px; color:#FFF;padding-left: 15px;}

/*

#faq #topics ul{ list-style: none;}*/

#faq #topics ul li a{color: #bdccc5; font-size:20px; }

#faq #topics ul li a:hover{color:#003f22;}

#faq .topic_heading{padding-top: 50px; margin-bottom: 20px;}

#faq .topic_heading h3{color:#FFF; }

#faq .go_top{ float: right;

              border-bottom: 1px solid}

#faq .go_top a{color: #bdccc9; font-size: 12px;}



#faq ul.topics li a{font-size: 20px; color: #00703c;}

#faq ul.topics li a:hover{color:#0C343D;}

#faq .panel-heading a{ color: #bdccc5;}

#faq .panel-primary {border-color: #00703c;}

#faq .panel-primary > .panel-heading a:focus{outline: medium none;}

#faq .panel-primary > .panel-heading{background-color: #00703c;

                                     border-color: #00703c;}

#faq .panel-body p{color: #004022;}





#location_find.white-bg2{ /*background-color: rgba(255, 255, 255, 0.9);*/margin-bottom: 10px; padding: 5px 10px;}

#location_find h4{color: #00A056; font-weight: bold; text-align: center;}

#location_find .input-group-addon{background-color: #00A056; color: #FFF; border-color: #00A056;}

#location_find .input-group-addon{}

#location_find .form-control{  border-color: #00A056; color:#00A056 }

#location_find .form-control:focus{

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 160, 86, 0.6);

}



#location_find ::-webkit-input-placeholder {color: #00A056;}

#location_find :-moz-placeholder { /* Firefox 18- */color: #00A056;}

#location_find ::-moz-placeholder { /* Firefox 19+ */color: #00A056;}

#location_find  :-ms-input-placeholder {color: #00A056;}



#location_find .btn-green{background-color: #00A056;border-color: #00A056; color: #fff;}



#cart table ::-webkit-input-placeholder {color: #000;}

#cart table :-moz-placeholder { /* Firefox 18- */color: #000;}

#cart table ::-moz-placeholder { /* Firefox 19+ */color: #000;}

#cart  table :-ms-input-placeholder {color: #000;}

#cart  table input.qty{color: #000;}

#cart  table strong{font-size: 18px;}



.nav.nav-tabs.tab-location{

    border:none !important;

}

.nav.nav-tabs.tab-location li a{

    margin-left: 7px;

    padding: 10px 90px;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {

    background-color: #003f22 !important;

    color:#fff !important;

}

.nav-tabs > li > a:hover {

    background-color:#003f22  !important;

    color:#fff !important;

}

.nav-tabs > li > a:focus {

    outline: none !important;

}

.tab-content{

    margin-top: 5px;

}

.modal{color:#003f22;}
form .error{color:#b94a48; font-size:14px; background-color: #f2dede; padding:2px 5px;border: 1px solid transparent;
            border-radius: 4px;    border-color: #eed3d7;margin-bottom:5px;}


#menu_sidebar .box , #menu_panel article .product{
    /*background-color: rgba(255, 255, 255, 0.9);*/
    min-height: 170px;
}




#main-content .product{
    width: 100%;
    border-bottom: 3px solid #00703C;
    //padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 3px 10px rgba(41,41,41,1);
    -moz-box-shadow: 0px 3px 10px rgba(41,41,41,1);
    box-shadow: 0px 3px 10px rgba(41,41,41,1);
    min-height: 170px;

}

#main-content .product:hover{
    /*background-color:  rgba(0, 94, 42, 0.9);*/
    color: white;
    border-bottom-color: #eaeaea;

}

#main-content .menu-grid-cell{
    padding-right: 0px;
}

#main-content .product .product-image{
    //width: 275px; //330px;
    height: 224px; //224px;
    padding: 0px 0px;
}

#main-content .product img{

    margin-bottom:5px;
    border: none;
}

#main-content .product .product-description{
    background-color: rgba(243, 243, 243, 0.9);
}

#main-content .product .product-description h4 a{
    color:#00703C;
    font-weight: bold;
    font-size: 16px;
}
#main-content .product:hover .product-description{
    background-color: rgba(0, 94, 42, 0.7);
    cursor: pointer;
}
#main-content .product:hover .product-description h4 a{
    color: white;
}


#main-content .product .product-description{
    min-height: 65px;
    padding: 5px;
}

#main-content .product.list-product{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9)
}

#main-content .product.list-product:hover {

}

#main-content .product.list-product .detail{
    color: #333;
}

#main-content .product.list-product:hover .detail{
    color: #333;
}

#main-content .product.list-product h4{
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    color:#00703C;
    font-weight: bold;
    font-size: 16px;
}
#main-content .product.list-product:hover h4{
    background-color: rgba(0, 94, 42, 0.9);
    color: white;
}

#main-content .product .product-description .cart-item{ width: 100%; font-size: 12px;  }

#main-content #list_view .product .product-description .cart-item{padding-right: 15px;

                                                                  text-align: right;}

#main-content .product .product-description .cart-item .price{color: #00703C;}

#main-content .product .product-description .cart-item .cart-link{color: #00703C; font-size: 11px;}

#main-content .product .product-description .cart-item .cart-link a{ color: #543019; font-weight: bold;}

#main-content .scale-box{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#main-content img.scale-image{
    position: absolute;
}

#main-content .filter{
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    padding-top: 35px;
    -webkit-box-shadow: 0px 3px 10px rgba(41,41,41,1);
    -moz-box-shadow: 0px 3px 10px rgba(41,41,41,1);
    box-shadow: 0px 3px 10px rgba(41,41,41,1);
}

#main-content .filter-close-button{
    position: absolute;
    top: 5px;
    right: 5px;
}

#main-content .filter h4{
}

#main-content .filter-close-button a span.label{
    padding: 5px;
}

#main-content .filter-close-button a:hover span.label{
    background-color: #3a3a3a;
}

#main-content .search-filter-section{
    margin-top: 15px;
    margin-bottom: 15px;
}

#main-content ul.filter-options{
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-content ul.filter-options li{
    list-style: none;
    margin-bottom: 5px;
    padding-left: 25px;
}
#main-content ul.filter-options li.filter-options-header{
    padding-left: 0;
    font-weight: bold;
    color: #3f3f3f;
    padding-left: 10px;
}

.information-page .btn{
    color: #fff;
}

.information-page .btn:hover{
    color: #f0f0f0;
}

.browser-incompatible{
    display: none;
}