

body{
    position: relative;
    background-image: none !important;
    background: none !important;
}

.browser-compatible{
    display: none !important;
}

.browser-incompatible{
    background-color: #fcfcfc;
    color: #333;
    position: absolute;
    display: block !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    min-height: 300px;
    padding-top: 300px;
}