.top-navigation{

}

.navtop, .navbar {
    top:0px !important;

    /*height: 100px;*/
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    //background-image:url('../img/white.png') !important;
}

.navtop:hover{
    background-color: white;
}


ul.navbar-nav li a{
    color:#003f22;font-size: 18px;

    /* font-weight: bold; margin: 0px 10px;*/
}

.top-navigation .nav>li>a:hover, .top-navigation .nav>li>a:focus, .top-navigation .nav .open>a, .nav a.active {
    text-decoration: none;
    background-color: #00A056;
    color: white;
}

.top-navigation .logo-container img{
    height: 32px;
}

.home-page-view .top-navigation .logo-container img{
    height: 62px; 
}

.home-page-view .top-navigation ul li a {
    padding-top: 35px;
    padding-bottom: 35px;
}

.home-page-view .top-navigation .shoping-cart-button{
    padding-top: 33px;
    padding-bottom: 34px;
}

.home-page-view .top-navigation .dropdown-menu ul li a {
    padding-top: 15px;
    padding-bottom: 15px;
}



.container1 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}
.yamm .container {
    position: relative;
}
.yamm .dropdown-menu {
    left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}
.yamm .yamm-content {
    /* padding: 5px 10px;*/
}
.yamm .yamm-conten ul li a{ padding: 0px;}
.yamm .dropdown.yamm-fw .dropdown-menu {
    /*left: -100px;*/
    /*right: -100px;*/
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    /*padding-left: 232px;*/
}
.navtop:hover .yamm .dropdown.yamm-fw .dropdown-menu,
.yamm .dropdown.yamm-fw .dropdown-menu:hover{
    background-color: white;
}

.yamm .dropdown.yamm-fw .dropdown-menu li{

}

.yamm .dropdown.yamm-fw .dropdown-menu li a{
    font-size: 18px;
}


/* .dropdown-menu {
    width: 900px;
  }
  .dropdown-menu li {
     float: left;
  } */
.dropdown-menu{
    left: 0;
    right: 0;
}

/* hover dropdown */
/*.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}*/

ul.navbar-nav li a.shoping-cart-button{
    padding-top: 13px;
    padding-bottom: 14px;
}

.top-navigation .nav>li>a:hover .caret, .top-navigation .nav>li>a:focus  .caret, .top-navigation .nav .open>a  .caret{
    border-top-color: #fff;
}
ul.user-drop li a{ font-size: 14px;}